body{
    background-color: aquamarine;
    color: rgb(221, 217, 213);
    font-family: "Epunda Slab", serif;
    margin: 0px;
}

header{
    font-size: 50px;
    text-align: center;
    border-bottom: double  5px rgb(239, 183, 78);
   /* margin: 30px;*/
   padding: 30px;
  color: rgb(136, 96, 96);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
background-color: rgb(20, 209, 209);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
    margin-right: 10%;
}
