body{
    background-color: rgb(183, 207, 207);
color: black;
font-family: 'Courier New', Courier, monospace;}
font-family: 'Courier New', Courier, monospace;
margin: 0px;
}
header{
    font-size: 52px;
    border-bottom: ; double  5px rgb(194, 180, 154)
   /* margin: 30px;*/
   padding: 30px;
}

h1{
    font-size: 31px;
}
p{
    font-size: 24px;
}

.chamada-texto{
    margin-right: 10%;
}