body{
    background-color: rgb(183, 207, 207);
color: black;
font-family: 'Courier New', Courier, monospace;}
font-family: 'Courier New', Courier, monospace;
mangin: 0px;}
header}
font-size: 52px;
}
bonder:solid 5px 
h1}
font-size: 31px;


